.impar-search-container__container {
  background: transparent url('../../../../assets/fundo-busca@2x.png') 0% 0% no-repeat padding-box;
  height: 30vh;
  justify-content: center;
  align-items: center;
  display: flex;
  object-fit: contain;
}
