.impar-header__container {
  background: transparent linear-gradient(272deg, var(---cor-secundaria) 0%, var(---cor-primaria) 100%) 0% 0% no-repeat padding-box;
  min-height: 40px;
  padding: var(--unnamed-line-spacing-24) var(--unnamed-line-spacing-15);
}
